In [10]:
import import_ipynb
import Content_based_filtering as cf
from scipy.io import loadmat
import pandas as pd
from IPython.display import display

In [13]:
top10ids=[]
dic=loadmat('top10.mat')

u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
user_df = pd.read_csv('ml-100k/u.user', sep='|', names=u_cols, 
                    encoding='latin-1', parse_dates=True)

movies_df=pd.read_csv('ml-100k/item_cc.csv') #Movie details

matrix=pd.read_csv('ml-100k/user_item_matrix.csv')

In [17]:
def getusers(uname,movieid): #Suggest users who would rate this movie the same as current user

    rating=matrix.iloc[uname][movieid]
    print("you're going to rate this movie: ",rating)
    print("---------------------------------------------------------------------")
    print("your partners are (They also rated",rating,")")
    h=matrix.loc[matrix.iloc[:,movieid]==rating]
    l=h.index.tolist()
    with pd.option_context('display.max_rows', None, 'display.max_columns', None):
        display(user_df.loc[user_df['user_id'].isin(l)])
    print("---------------------------------------------------------------------")
    

def gettop(uname): #Top 10 movies which the user is going to rate high
    print("You may like:")
    ll=dic[str(uname)][0]
    with pd.option_context('display.max_rows', None, 'display.max_columns', None):
        display(movies_df.loc[movies_df['movie_id'].isin(ll)])
    print("------------------------------------------------------")

def driver(uname, movieid=""):
    
    gettop(uname)
    if(movieid!=""):
        movietitle=movies_df.loc[movies_df['movie_id']==int(movieid),'movie_title'].iloc[0]
        
        getusers(uname,movieid)
        print("Similar movies are")
        ans=cf.get_recommendations(movietitle)
        
        lll=ans[0].tolist()
        df2=movies_df['movie_title'].str.lower().to_frame()
        df2=df2['movie_title'].str.strip().to_frame()
        df3=movies_df[['year','director','actor1','actor2']]
        df3=pd.concat([df2, df3], axis=1)


        with pd.option_context('display.max_rows', None, 'display.max_columns', None):
            display(df3.loc[df3['movie_title'].isin(lll)])
        print("-----------------------------------------------------")

driver(21,89)

You may like:

,movie_title,year,tmdb_id,movie_id,director,actor1,actor2
11,"Usual Suspects, The",1995,629,12,Bryan Singer,Stephen Baldwin,Kevin Spacey
63,"Shawshank Redemption, The",1994,278,64,Frank Darabont,Tim Robbins,Morgan Freeman
171,"Empire Strikes Back, The",1980,1891,172,Irvin Kershner,Mark Hamill,Harrison Ford
172,"Princess Bride, The",1987,2493,173,Rob Reiner,Cary Elwes,Robin Wright
182,Alien,1979,348,183,Ridley Scott,Tom Skerritt,Sigourney Weaver
186,"Godfather: Part II, The",1974,240,187,Francis Ford Coppola,Al Pacino,Robert Duvall
190,Amadeus,1984,279,191,Miloš Forman,F. Murray Abraham,Tom Hulce
274,Leaving Las Vegas,1995,451,276,Mike Figgis,Nicolas Cage,Elisabeth Shue
316,Schindler's List,1993,424,318,Steven Spielberg,Liam Neeson,Ben Kingsley
355,One Flew Over the Cuckoo's Nest,1975,510,357,Miloš Forman,Jack Nicholson,Louise Fletcher

------------------------------------------------------
you're going to rate this movie:  5
---------------------------------------------------------------------
your partners are (They also rated 5 )

     user_id  age sex     occupation zip_code
3          4   24   M     technician    43537
5          6   42   M      executive    98101
7          8   36   M  administrator    05201
8          9   29   M        student    01002
20        21   26   M         writer    30068
21        22   25   M         writer    40206
22        23   30   F         artist    48197
28        29   41   M     programmer    94043
31        32   28   F        student    78741
32        33   23   M        student    27510
34        35   20   F      homemaker    42459
42        43   29   F      librarian    20854
44        45   29   M     programmer    50233
50        51   28   M       educator    16509
53        54   22   M      executive    66315
57        58   27   M     programmer    52246
58        59   49   M       educator    08403
60        61   36   M       engineer    30040
65        66   23   M        student    80521
69        70   27   M       engineer    60067
71        72   48   F  administrator    73034
75        76   20   M        student    02215
82        83   40   M          other    44133
88        89   43   F  administrator    68106
90        91   55   M      marketing    01913
94        95   31   M  administrator    10707
95        96   25   F         artist    75206
112      113   47   M      executive    95032
113      114   27   M     programmer    75013
115      116   40   M     healthcare    97232
116      117   20   M        student    16125
125      126   28   F         lawyer    20015
129      130   20   M           none    60115
135      136   51   M          other    97365
137      138   46   M         doctor    53211
141      142   13   M          other    48118
145      146   45   M         artist    83814
146      147   40   F      librarian    02143
149      150   20   F         artist    02139
150      151   38   F  administrator    48103
152      153   25   M        student    60641
156      157   57   M       engineer    70808
162      163   49   M  administrator    97212
163      164   47   M     healthcare    80123
168      169   52   F          other    53705
171      172   55   M      marketing    22207
172      173   56   M          other    22306
174      175   26   F      scientist    21911
175      176   28   M      scientist    07030
184      185   53   F      librarian    97403
185      186   39   F      executive    00000
187      188   42   M        student    29440
195      196   49   M         writer    55105
196      197   55   M     technician    75094
198      199   30   M         writer    17604
208      209   33   F       educator    85710
211      212   49   F       educator    61401
220      221   19   M        student    20685
223      224   31   F       educator    43512
224      225   51   F  administrator    58202
240      241   26   F        student    20001
242      243   33   M       educator    60201
246      247   28   M       engineer    20770
247      248   25   M        student    37235
250      251   28   M         doctor    85032
254      255   23   M  entertainment    07029
255      256   35   F           none    39042
258      259   21   M        student    48823
259      260   40   F         artist    89801
265      266   62   F  administrator    78756
268      269   31   F      librarian    43201
270      271   51   M       engineer    22932
272      273   50   F          other    10016
274      275   38   M       engineer    92064
276      277   35   F  administrator    55406
285      286   27   M        student    15217
290      291   19   M        student    44106
291      292   35   F     programmer    94703
293      294   34   M     technician    92110
294      295   31   M       educator    50325
297      298   44   M      executive    01581
298      299   29   M         doctor    63108
305      306   45   M          other    73132
306      307   25   M        student    55454
309      310   37   M       educator    91711
310      311   32   M     technician    73071
311      312   48   M          other    02110
315      316   43   F          other    77009
322      323   21   M        student    19149
326      327   22   M        student    11101
328      329   48   M       educator    01720
330      331   33   M  entertainment    91344
337      338   39   F      librarian    59717
339      340   46   M       engineer    80123
342      343   43   M       engineer    30093
343      344   30   F      librarian    94117
346      347   18   M        student    90210
349      350   32   M        student    97301
350      351   61   M       educator    49938
353      354   29   F      librarian    48197
355      356   32   F      homemaker    92688
364      365   29   M         lawyer    20009
365      366   20   F        student    50670
367      368   18   M        student    92113
370      371   36   M       engineer    99206
371      372   25   F        student    66046
378      379   44   M     programmer    98117
379      380   32   M       engineer    55117
382      383   42   M  administrator    75204
385      386   36   M       salesman    43221
388      389   44   F         writer    83702
392      393   19   M        student    83686
393      394   25   M  administrator    96819
406      407   29   M       engineer    03261
407      408   23   M        student    61755
412      413   55   M       educator    78212
413      414   24   M     programmer    38115
414      415   39   M       educator    85711
415      416   20   F        student    92626
419      420   53   M       educator    02140
425      426   55   M       educator    01602
432      433   27   M         artist    11211
436      437   27   F          other    20009
438      439   23   F  administrator    20817
445      446   57   M       educator    60201
447      448   23   M  entertainment    10021
448      449   23   M      librarian    55021
450      451   16   M        student    48446
455      456   24   M     technician    31820
460      461   15   M        student    98102
467      468   28   M       engineer    02341
470      471   10   M        student    77459
472      473   29   M        student    94708
475      476   28   M        student    60440
487      488   48   M     technician    21012
494      495   29   M       engineer    03052
496      497   20   M        student    50112
504      505   27   F          other    20657
505      506   46   M     programmer    03869
511      512   29   M          other    20090
517      518   49   F         writer    99709
521      522   36   M       engineer    55443
522      523   50   F  administrator    04102
527      528   18   M        student    55104
532      533   43   M      librarian    02324
539      540   28   M       engineer    91201
544      545   27   M     technician    08052
545      546   36   M      executive    22911
548      549   42   M      scientist    45680
551      552   45   M          other    68147
556      557   30   F         writer    11217
558      559   69   M      executive    10022
563      564   65   M        retired    94591
565      566   20   M        student    14627
581      582   17   M        student    93003
597      598   40   F      marketing    43085
598      599   22   F        student    R3T5K
600      601   19   F         artist    99687
601      602   47   F          other    34656
604      605   33   M       engineer    33716
611      612   36   M       educator    79070
619      620   18   F         writer    81648
620      621   17   M        student    60402
625      626   23   M      scientist    19807
626      627   24   M       engineer    08034
634      635   22   M          other    23237
638      639   42   F      librarian    12065
642      643   39   M      scientist    55122
651      652   35   M          other    22911
659      660   26   M        student    77380
660      661   28   M     programmer    98121
662      663   26   M          other    19341
669      670   30   M     technician    21114
686      687   31   F     healthcare    27713
689      690   35   M       salesman    63304
695      696   55   M          other    94920
699      700   17   M        student    76309
702      703   26   M       educator    49512
709      710   19   M        student    92020
715      716   36   F  administrator    44265
725      726   25   F  administrator    80538
736      737   30   M     programmer    98072
746      747   19   M          other    93612
756      757   26   M        student    55104
763      764   27   F       educator    62903
765      766   42   M          other    10960
768      769   39   M      executive    06927
770      771   26   M        student    15232
774      775   46   M      executive    90036
781      782   21   F         artist    33205
782      783   30   M      marketing    77081
786      787   18   F        student    98620
792      793   22   M        student    85281
794      795   30   M     programmer    08610
797      798   40   F         writer    64131
804      805   27   F          other    20009
806      807   41   F     healthcare    93555
808      809   50   F      marketing    30803
809      810   55   F          other    80526
814      815   32   M          other    28806
819      820   22   M        student    37725
821      822   29   F      librarian    53144
824      825   44   M       engineer    05452
827      828   28   M      librarian    85282
828      829   48   M         writer    80209
831      832   24   M     technician    77042
838      839   38   F  entertainment    90814
839      840   39   M         artist    55406
840      841   45   M         doctor    47401
841      842   40   M         writer    93055
844      845   64   M         doctor    97405
846      847   29   M        student    55417
847      848   46   M       engineer    02146
848      849   15   F        student    25652
857      858   63   M       educator    09645
860      861   38   F        student    14085
865      866   45   M          other    60302
878      879   33   F  administrator    55337
880      881   39   M      marketing    43017
881      882   35   M       engineer    40503
882      883   49   M      librarian    50266
890      891   51   F  administrator    03062
894      895   31   F      librarian    32301
905      906   45   M      librarian    70124
907      908   44   F      librarian    68504
911      912   51   M          other    06512
914      915   50   M  entertainment    60614
916      917   22   F        student    20006
920      921   20   F        student    98801
921      922   29   F  administrator    21114
926      927   23   M     programmer    55428
927      928   21   M        student    55408
930      931   60   M       educator    33556
932      933   28   M        student    48105
933      934   61   M       engineer    22902
937      938   38   F     technician    55038
939      940   32   M  administrator    02215

---------------------------------------------------------------------
Similar movies are

,movie_title,year,director,actor1,actor2
6,twelve monkeys,1995,Terry Gilliam,Bruce Willis,Madeleine Stowe
49,star wars,1977,George Lucas,Mark Hamill,Harrison Ford
171,"empire strikes back, the",1980,Irvin Kershner,Mark Hamill,Harrison Ford
174,brazil,1985,Terry Gilliam,Jonathan Pryce,Robert De Niro
178,"clockwork orange, a",1971,Stanley Kubrick,Malcolm McDowell,Patrick Magee
180,return of the jedi,1997,Richard Marquand,Mark Hamill,Harrison Ford
182,alien,1979,Ridley Scott,Tom Skerritt,Sigourney Weaver
227,star trek: the wrath of khan,1982,Nicholas Meyer,William Shatner,Leonard Nimoy
324,g.i. jane,1997,Ridley Scott,Demi Moore,Viggo Mortensen
421,e.t. the extra-terrestrial,1982,Steven Spielberg,Henry Thomas,Drew Barrymore
486,sunset blvd.,1950,Billy Wilder,William Holden,Gloria Swanson
550,species,1995,Roger Donaldson,Natasha Henstridge,Ben Kingsley
689,dark city,1998,Alex Proyas,Rufus Sewell,William Hurt
758,screamers,1995,Christian Duguay,Peter Weller,Roy Dupuis
922,white squall,1996,Ridley Scott,Jeff Bridges,Caroline Goodall

-----------------------------------------------------